@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}
body {
    width: 1440px;
    margin: 0 auto;
}
#hero{
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    padding: 26px 221px 44px 221px;
}

.section-content{
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.hero-img {
    margin-bottom: 32px;
}
.hero-title {
    height: 136px;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-bottom: 24px;
}

.hero-description {
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 32px;
}

.hero-btn {
    width: 208px;
    height: 66px;
    padding: 15px 15px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin-bottom: 44px;
    text-decoration: none;
}



.section-two {
    width: 1140px;
    height: 1395px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 74px auto;
    border: 2px solid white;
}

.section-two-content {
    margin: 80px 97px 80px 97px;
}
.section-too-div{
    width: 946px;
    height: 1233px;
    display: flex;
    flex-direction: column;
    
}
.section-two-div{
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 47px 48px 47px;
}
.section-two-head{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.section-two-pra{
    color: rgb(13, 19, 33,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
}


.main-main {
    width: 946px;
    height: 1072px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main{
    width: 946px;
    height: 336px;
    display: flex;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.main-under-div{
     width: 550px;
     height: 280px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.main-under-head{
    width: 100%;
    height: 72px;
    margin: 16px 0px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 10px;
}
.main-under-pra{
    color: rgb(13, 19, 33,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 16px;
}
.main-under-btn{
    width: 171px;
    height: 47px;
    box-sizing: border-box;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin: 32px 0px;

}
.design2{
    margin-top: 32px;
    margin-bottom: 32px;
}
.design2 .main-under-div {
    width: 600px;
}
.design3{
    margin-bottom: 0px;
}






.video{
    width: 1140px;
    height: 777px;
    display: flex;
    flex-direction: column;
    margin: 90px auto;
    justify-content: space-between;
    align-items: center;
}
.video-description{
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}
.video-head{
    width: 100%;
    height: 39px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.video-para{
    width: 100%;
    height: 52px;
    color: rgb(13, 19, 33 ,0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    
}
.jonkar-video{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}


.jonkar-video iframe {
    width: 1076px;
    height: 550px;
}



.target{
    width: 1140px;
    height: 463px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 149px;
}
.target-first-div{
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target-head{
    width: 852px;
    height: 39px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    
}
.target-para{
    width: 852px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
}
.target-second-div{
    width: 1140px;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    align-items: center;
    gap: 24px;
}

.html-div{
    width: 364px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    
}
.html-second-div{
    width: 284px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 40px;
}

.html-img{
    width: 56px;
    height: 56px;
}
.html-head{
    width: 284px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin-top: 8px;
}
.html-para{
    width: 284px;
    height: 52px;
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 8px;
}
.html-atr{
    width: 284px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 24px;
}


.css-div{
    width: 364px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.css-second-div{
    width: 284px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 40px;
}

.css-img{
    width: 56px;
    height: 56px;
}
.css-head{
    width: 284px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin-top: 8px;
}
.css-para{
    width: 284px;
    height: 52px;
    color: rgb(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 8px;
}
.css-atr{
    width: 284px;
    height: 20px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 24px;
}


.js-div{
    width: 364px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.js-second-div{
    width: 284px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 40px;
}

.js-img{
    width: 56px;
    height: 56px;
}
.js-head{
    width: 284px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin-top: 8px;
}
.js-para{
    width: 284px;
    height: 52px;
    color: rgb(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 8px;
}
.js-atr{
    width: 284px;
    height: 20px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 24px;
}





.support-now{
    width: 1140px;
    height: 313px;
    margin: 150px 150px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(../assets/handshake.jpg);
    align-items: flex-start;
    border-radius: 16px;
    background-position: center;
}
.support-f-div{
    width: 1044px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 64px 48px;
}

.sup-head-para{
    width: 730px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-head{
    width: 292px;
    height: 36px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
   
}

.support-para{
    width: 606px;
    height: 52px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 16px;
}

.buttn{
    width: 684px;
    height: 57px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
    margin-left: 23px;
    margin-right: 23px;
}

.search-class {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding-left: 35px;
}
.btn-submit{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin: 17px 20px;
    background-color: white;
    border: none;
 }

 footer {
    width: 1440px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
 }
 .footer-content {
    width: 1140px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 150px;
 }

.footer-title {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

.footer-img {
    display: flex;
    gap: 24px;
}